.node-select-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    margin-top: 5px;
    font-size: 9px;
    border-radius: 4px;
    margin-bottom: $hwb-padding-xsm;
    background-color: $hwb-orange-900;
    border: none;
    color: $hwb-white;
    padding: $hwb-padding-xxsm;

}