.hwb-builder-container-layout {
    height: 100%;
    width: 100%;
    border-left: 2px solid $hwb-blue-500;

    .sidebar-menu {

        .ant-layout-sider-children {
            padding: $hwb-padding-sm;
        }
    }
}