.hwb-builder-container-layout {
    height: 100%;
    width: 100%;
    border-left: 2px solid $hwb-blue-500;

    .ant-menu-dark.ant-menu-horizontal {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .ant-menu-item {
            display: flex;
            flex: 1;
            justify-content: center;
        }
    }

}

.no-workflow-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $hwb-blue-800;
    height: 100vh;

    .ant-typography {
        font-size: 20px;
        color: $hwb-white;
    }
}