$hwb-white: #FFFFFF;
$hwb-black: #000000;

$hwb-gray-25: #FCFCFC;
$hwb-gray-50: #FAFAFA;
$hwb-gray-100: #F4F4F5;
$hwb-gray-200: #E4E4E7;
$hwb-gray-300: #D1D1D6;
$hwb-gray-400: #A0A0AB;
$hwb-gray-500: #70707b;
$hwb-gray-600: #51525C;
$hwb-gray-700: #3F3F46;
$hwb-cray-800: #26272B;
$hwb-gray-900: #141414;

$hwb-error-25: #FFFBFA;
$hwb-error-50: #FEF3F2;
$hwb-error-100: #FEE4E2;
$hwb-error-200: #FECDCA;
$hwb-error-300: #FDA29B;
$hwb-error-400: #F97066;
$hwb-error-500: #F04438;
$hwb-error-600: #D92D20;
$hwb-error-700: #B42318;
$hwb-error-800: #912018;
$hwb-error-900: #7A271A;

$hwb-blue-25: #FCFCFD;
$hwb-blue-50: #F8F9FC;
$hwb-blue-100: #EAECF5;
$hwb-blue-200: #D5D9EB;
$hwb-blue-300: #B3B8DB;
$hwb-blue-400: #717BBC;
$hwb-blue-500: #4E5BA6;
$hwb-blue-600: #3E4784;
$hwb-blue-700: #363F72;
$hwb-blue-800: #293056;
$hwb-blue-900: #101323;

$hwb-yellow-25: #FFFBF2;
$hwb-yellow-50: #FDECC1;
$hwb-yellow-100: #FBDD90;
$hwb-yellow-200: #FACE5E;
$hwb-yellow-300: #F8BE2D;
$hwb-yellow-400: #EAAA08;
$hwb-yellow-500: #B98606;
$hwb-yellow-600: #876205;
$hwb-yellow-700: #6A5212;
$hwb-yellow-800: #563F03;
$hwb-yellow-900: #251B01;

$hwb-orange-25: #FEFAF5;
$hwb-orange-50: #FEF6EE;
$hwb-orange-100: #FDEAD7;
$hwb-orange-200: #F9DBAF;
$hwb-orange-300: #F7B27A;
$hwb-orange-400: #F38744;
$hwb-orange-500: #EF6820;
$hwb-orange-600: #E04F16;
$hwb-orange-700: #B93815;
$hwb-orange-800: #932F19;
$hwb-orange-900: #4b1a0f;


//tags
$hwb-ok: #007D00;
$hwb-off: #700000;
$hwb-warning: #F7B27A;

$hwb-default-node: #ae6d3b;