@import './_colors.scss';

//padding
$hwb-padding-xxsm: 2px;
$hwb-padding-xsm: 4px;
$hwb-padding-sm: 8px;
$hwb-padding-md: 16px;
$hwb-padding-lg: 24px;
$hwb-padding-xl: 32px;
$hwb-padding-xxl: 64px;

$hwb-sidebar-width: 78px;

//margin
$hwb-margin-xsm: 4px;
$hwb-margin-sm: 8px;
$hwb-margin-md: 16px;
$hwb-margin-lg: 24px;
$hwb-margin-xl: 32px;

//lettering
$hwb-brand-font: 'Noto Sans', sans-serif;
$hwb-card-title-font-size: 14px;

$hwb-font-size-md: 14px;
$hwb-font-size-lg: 20px;
$hwb-font-size-xl: 24px;