.reactflow-wrapper {
    height: 100%;
    width: 100%;

    .workflow-background {
        background-color: $hwb-blue-800;
    }

    .save-button {
        height: 50px;
        width: 100px;
        font-size: 20px;
        font-weight: bold;
        border: solid 4px $hwb-orange-500;
        letter-spacing: 1px;
    }

    .react-flow__node {
        background-color: $hwb-default-node;
        border: 1px solid $hwb-white;
        color: $hwb-white;
        border-radius: 8px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
    }


    .workflow-title {
        color: $hwb-white;
        text-transform: capitalize;
        font-size: 30px;
    }

}